extends layout

block content
  link(href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css")
  link(href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet")
  link(href="stylesheets/style.css" rel="stylesheet")
  link(href="stylesheets/style-personalize.css" rel="stylesheet")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  //pre= tasks
  div(class="container")
      form( action="/add" method="POST")
        input(type="text" name="nombre" placeholder="Nombre" required)
        input(type="email" name="correo" placeholder="Email" required)
        input(type="phone" name="telefono" placeholder="Phone" required minlength="10" maxlength="10")
        input(type="password" name="password" placeholder="Password" required minlength="8")
        input(type="text" name="edad" placeholder="Edad" required)
        input(type="text" name="genero" placeholder="Genero" required)
        input(type="text" name="pasatiempo" placeholder="Pasatiempo" required)
        input(type="date" name="registro" placeholder="Fecha de Registro" required)
        div(class ="div-btn")
            input(class="btn-primary btn" type="submit" value="Registrar" )
      img(src='images/react.png')
  div(class="card shadow mb-4")
      div(class="card-header py-3")
        h6(class="m-0 font-weight-bold text-primary") DataTables
      div(class="card-body")
        div(class="table-responsive")
           table(class="table table-bordered" id="dataTable" width="100%" cellspacing="0")
             thead
              tr
                th ID
                th Nombre
                th Correo
                th Telefono
                th Password
                th Edad
                th Genero
                th Pasatiempo
                th Registro
                th Operacion
             tbody
              each val in tasks
                tr 
                    td #{val._id}
                    td #{val.nombre}
                    td #{val.correo}
                    td #{val.telefono}
                    td #{val.password}
                    td #{val.edad}
                    td #{val.genero}
                    td #{val.pasatiempo}
                    td #{val.registro}
                    td
                        a(href="/delete/"+val._id class="btn btn-danger") Eliminar
                        a(href="/edit/"+val._id class="btn btn-info") Edit
  script(src="vendor/jquery/jquery.min.js")
  script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
  script(src="vendor/jquery-easing/jquery.easing.min.js")
  script(src="vendor/datatables/jquery.dataTables.min.js")
  script(src="vendor/datatables/dataTables.bootstrap4.min.js")
  
  script(src="javascripts/script.js")
  script(src="javascripts/datatables.js")
  script(src="javascripts/task.js")